/*
SELETOR {
    propriedade : valor;

} */
 
body{
background-color: #2D033B;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

img{
   margin-bottom: 30px;
   border: #2D033B 5px solid;
   border-radius: 50%;

}

h1{
color:#2D033B;
font-size: 32px;
margin: 0;
         
 }

 h2{
margin: 0;
font-size: 20px;
color: #2D033B;

 }
 p{
color: #666666;
/*font-size:16px;*/


 }

 .principal{
    background-color: #F2DFE2;
    width: 340px;/*largura*/
    height: 501px;/* altura*/

    margin-top: 30px;
    /*hack para centralizar a div*/
    margin-left: auto;
    margin-right:auto ;
    border-radius: 10px;

/*espaço interno*/
    padding:30px;
    text-align: center;
 }

 .menu{
margin-bottom: 30px;
 }
 .menu a{
    color: #FFFFFF;
    background-color: #2D033B;
    display: block;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border-radius: 3px;



 }
/* estado ao passar o mouse*/

 .menu a:hover{
    background-color: #E5B8F4;
    color:#2D033B;
 }
 
   .assinatura{
color: #2D033B;

   }

.assinatura:hover{
font-style: italic;

}
 